.example-card {
    border: 1px solid #673ab7;
    margin-bottom: 1em;
    border-radius: 0.5em;
    padding: 1em;
    color: #fff;
    transition: all 400ms ease-out;
    background: linear-gradient(45deg, #a09dab, #673ab7);
}

.example-card :hover {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: center;
}